body {
  margin: 0;
  padding: 0;
  background-color: #1d2634;
  color: #9e9ea4;
  font-family: 'Montserrat', sans-serif;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
  margin-right: 8px;
}

.icon_header {
  max-height: 40px;
  margin-right: 10px;
}

.icon {
  margin-right: 8px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {

  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    'sidebar header'
    'sidebar content';
  height: 100vh;
}

/* Header  */
.header {
  grid-area: header;
  height: 60px;
  background-color: #222;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.search-input {
  margin-left: 10px;
  padding: 5px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}
.logout{
  padding: 6px;
  color: white;
  background-color: rgb(19, 226, 233);
}
.menu-icon {
  display: none;
}

/* End Header  */

/* Sidebar  */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #222;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: #333;
  border-bottom: #f5f5f5;
}

.sidebar-title>span {
  display: none;
}

.sidebar-brand {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: #333;
  cursor: pointer;
}

.sidebar-list-item>a {
  text-decoration: none;
  color: #9e9ea4;
  display: flex;
  align-items: center;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  width: 250px;
  transition: width 0.3s;
  z-index: 12 !important;
}

/* End Sidebar  */

/* Content*/
.content {
  padding: 20px;
  background-color: #f5f5f5;
  grid-column: 2 / -1;
  overflow-y: auto;
}
/*End Content*/

/* login content */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-form input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

.login-form button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}

/* Medium <= 992px */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr; 
    grid-template-rows: 60px 1fr; 
    grid-template-areas:
      'header'
      'content';
  }

  #sidebar {
    display: none; 
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title>span {
    display: inline; 
  }

  .content {
    grid-column: 1 / -1; 
  }
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
  .header-left {
    display: none; 
  }
}